<% include ./partials/header %>

<div class="parallax-window" data-parallax="scroll" data-image-src="http://bombaytogoa.net/wp-content/uploads/2017/03/Triple-Fried-Schezwan-Fried-Rice-chicken.jpg">
</div>
<div class="window-block">
    <div class="window-container">
        <p>Vietnam Restaurant opened it's doors in 1995! It specializes in Vietnamese cuisine with <strong>pho</strong>
        being the go-to!
        </p>
    </div>
</div>


<% include ./partials/footer %>