<% include ./partials/header %>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://indochinadaytours.com/wp-content/uploads/2016/11/huong-dan-kham-pha-am-thuc-viet-dung-dieu-6.jpg"></div>
<div class="window-block">
    <div class="window-container">
        <h1 class="window-title">Visit Vietnam Restaurant Today!</h1>
        <div class="row">
            <div class="column">
                <p><strong>Vietnam Restaurant</strong></p>
                <p>2355 West 11th Avenue</p>
                <p>Eugene, OR</p>
                <p>541-684-8060</p>
            </div>
            <div class="column">
                <p><strong>Business Hours</strong></p>
                <p>MONDAY thru THURSDAY: 11:00 a.m. - 9:00 p.m.</p>
                <p>FRIDAY thru SATURDAY: 11:00 a.m. - 9:30 p.m.</p>
                <p>SUNDAY: 11:00 a.m. - 8:00 p.m.</p>
                <p>We are open 7 days a week! We are a family friendly
                restaurant offering dine-in and takeout services.</p>
            </div>
        </div>
        
    </div>
</div>
</div>

<% include ./partials/footer %>