<% include ./partials/header %>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://ilovehuetour.com/wp-content/uploads/2017/01/bun-bo-hue.jpg"></div>
<div class="window-strip">
    <div class="window-container">
        <h3 class="window-title">Traditional Vietnamese Food</h3>
        <p>Come visit Vietnam Restaurant on W 11th in Eugene, OR to enjoy authentic Vietnamese
        cuisine made fresh everyday!</p>
        <p>Our menu includes a wide range of appetizers, noodle soups, rice dishes, and more.</p>
        <p>Walk on in or call to make a reservation! (541) 684-8060</p>
    </div>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="https://cdn2.hubspot.net/hubfs/240798/Imported_Blog_Media/Fresh-Spring-Rolls-with-Peanut-Sauce-1.jpg?t=1519236592492"></div>
<div class="window-strip">
    <div class="window-container">
        <h3 class="window-title">Our Restaurant Reviews</h3>
        <p>Leave a review and a photo of your delicious food on our website!</p>
        <a href="/reviews" class="btn btn-lg btn-tan">Learn More</a>
    </div>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="https://i.ytimg.com/vi/qd6VcDWCDcQ/maxresdefault.jpg"></div>
<div class="window-strip">
    <div class="window-container">
        <a class="link" href="https://www.facebook.com/pages/Vietnam-Restaurant/104968889546563"><i class="fab fa-facebook-square"></i></a>
        <a class="link" href="https://www.yelp.com/biz/vietnam-restaurant-eugene"><i class="fab fa-yelp"></i></a>
        <strong><p>Vietnam Restaurant</p></strong>
        <p>2355 W 11th Avenue</p>
        <p>Eugene, OR 97402</p>
        <p>(541)-684-8060</p>
    </div>
</div>

<!--<script>
    $(".parallax-window").parallax();
</script>-->

<% include ./partials/footer %>
