<% include ../partials/header %>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://assets.epicurious.com/photos/56017167d296e7ab46e9dd64/master/pass/51149600_roast-pork-lo-mein.jpg"></div>
<div class="window-block">
    <div class="window-container">
        <h1 class="window-title">Chow Mein/ Chow Fun</h1>
        <hr>
        <div class="row">
            <div class="column">
                <p>Mi Xao Thap Cam - Combo Chow Mein (shrimp, beef and chicken)</p>
                <p>Mi Xao Tom - Shrimp Chow Mein</p>
                <p>Mi Xao Bo - Beef Chow Mein</p>
                <p>Mi Xao Ga - Chicken Chow Mein</p>
                <hr>
                <p>Bahn Pho Xao Tom - Shrimp Chow Fun</p>
                <p>Bahn Pho Xao Bo - Beef Chow Fun</p>
                <p>Bahn Pho Xao Ga - Chicken Chow Fun</p>
                <p>Bahn Pho Xao Thap Cam - Combo Chow Fun (shrimp, beef and chicken)</p>
            </div>
            <div class="column">
                <p>$10.50</p>
                <p>$9.50</p>
                <p>$9.25</p>
                <p>$8.50</p>
                <hr>
                <p>$9.50</p>
                <p>$9.25</p>
                <p>$8.50</p>
                <p>$10.50</p>
            </div>
        </div>
    </div>
</div>
</div>

<% include ../partials/footer %>