<% include ../partials/header %>

<div class="parallax-window" data-parallax="scroll" data-image-src="http://phoandsiam.com/menu/wp-content/uploads/2016/02/pho-bo-vien.jpg"></div>
<div class="window-block">
    <div class="window-container">
        <h1 class="window-title">Noodle Soups</h1>
        <hr>
        <div class="row">
            <div class="column">
                <p>Pho Dac Biet - Special Beef Noodle Soup</p>
                <p>Pho Tai, Nam - Eye of Round Steak and Well-Done Flank</p>
                <p>Pho Tai, Bo Vien - Eye of Round Steak and Meatball</p>
                <p>Pho Bo Vien - Beef Meatball</p>
                <p>Pho Tai</p>
                <p>Pho Ga - Special Chicken Noodle Soup</p>
                <hr>
                <p>Bun Mang Vit - Duck Vermicelli Noodle Soup</p>
                <p>Bun Bo Hue - Spicy Noodle Soup</p>
                <p>Bun Rieu - Vermicelli Noodle in Tomato Soup</p>
                <p>Bun Tom Thit Nuong - Grill Slice Pork and Grilled Shrimp</p>
                <p>Bun Cha Gio Thit Nuong - Grill Slice Pork and Fried Spring Roll</p>
                <p>Bun Ga Xao Xa Ot - Spicy Chicken Lemongrass</p>
                <hr>
                <p>Mi Huoahn Thahn - Wonton with Egg Noodle Soup</p>
                <p>Mi Vit - Duck with Egg Noodle Soup</p>
                <p>Mi Do Bien - Seafood with Egg Noodle Soup</p>
                <hr>
                <p>Hu Tieu Nam Vang - Rice Noodle Soup</p>
                <p>Hu Tieu Do Bien - Seafood Noodle Soup</p>
                <p>Hu Tieu Xao Do Bien - Stir Fried Rice Noodle with Seafood </p>
            </div>
            <div class="column">
                <p>$8.50</p>
                <p>$8:00</p>
                <p>$8.00</p>
                <p>$8.00</p>
                <p>$8.00</p>
                <p>$8.00</p>
                <hr>
                <p>$8.50</p>
                <p>$8.50</p>
                <p>$8.50</p>
                <p>$9.25</p>
                <p>$8.95</p>
                <p>$8.95</p>
                <hr>
                <p>$8.50</p>
                <p>$8.50</p>
                <p>$8.50</p>
                <hr>
                <p>$8.50</p>
                <p>$8.50</p>
                <p>$8.50</p>
            </div>
        </div>
    </div>
</div>
</div>


<% include ../partials/footer %>