<% include ../partials/header %>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://i.ytimg.com/vi/2_O4qFE4k8A/maxresdefault.jpg"></div>
<div class="window-block">
    <div class="window-container">
        <h1 class="window-title">Rice Dishes</h1>
        <hr>
        <div class="row">
            <div class="column">
                <p>Com Dia Bac Diet - Grill Pork, Shrimp, Egg, Tomatoes</p>
                <p>Com Ga Nuong - BBQ Chicken with Steamed Rice</p>
                <p>Com Vit Quay - BBQ Duck with Steamed Rice and Vegetables</p>
                <p>Com Chien Thap Cam - Combo Fried Rice</p>
                <p>Com Chien Tom - Shrimp Fried Rice</p>
                <p>Com Chien Bo - Beef Fried Rice</p>
                <p>Com Chien Ga - Chicken Fried Rice</p>
                <p>Com Chien Xa Xiu - BBQ Pork Fried Rice</p>
                <p>Com Ga Xao Xa Ot - Spicy Chicken Lemongrass w/Steamed Rice</p>
                <p>Com Bo Xao Xa Ot - Spicy Beef Lemongrass w/Steamed Rice</p>
            </div>
            <div class="column">
                <p>$9.50</p>
                <p>$8.50</p>
                <p>$8.50</p>
                <p>$10.50</p>
                <p>$9.50</p>
                <p>$9.25</p>
                <p>$8.50</p>
                <p>$8.50</p>
                <p>$9.00</p>
                <p>$10.00</p>
            </div>
        </div>
    </div>
</div>
</div>
    
<% include ../partials/footer %>