<% include ../partials/header %>

<div class="parallax-window" data-parallax="scroll" data-image-src="http://www.eatwell101.com/wp-content/uploads/2017/03/tofu-stir-fry-recipe-2.jpg"></div>
<div class="window-block">
    <div class="window-container">
        <h1 class="window-title">Vegetarian</h1>
        <hr>
        <div class="row">
            <div class="column">
                <p>Dau Hu Xao Xa Ot - Spicy Tofu w/Steamed Rice</p>
                <p>Mi Xao Chay - Stir Fried Noodles w/Vegetables</p>
                <p>Hu Tieu Xao Chay - Stir-Froed Rice Noodle w/Tofu</p>
                <p>Vegetable Salad Roll w/Tofu (2)</p>
                <p>Vegetable Fried Spring Rolls (2)</p>
                <p>Com Chien Rau Cau - Vegetable Fried Rice</p>
                <p>Rau Cai Xao Tofu - Stir-Fried Tofu w/Vegetable</p>
                <p>Dau Hu Xao Bum Xa Ot - Fried Tofu over Vermicelli Noodle</p>
                <p>Bahn Pho Xao Chay - Vegetable Chow Fun</p>
                <p>Vegetable Soup</p>
            </div>
            <div class="column">
                <p>$8.00</p>
                <p>$8.00</p>
                <p>$8.50</p>
                <p>$3.25</p>
                <p>$3.25</p>
                <p>$8.00</p>
                <p>$9.50</p>
                <p>$9.50</p>
                <p>$8.50</p>
                <p>$8.50</p>
            </div>
        </div>
    </div>
</div>
</div>

<% include ../partials/footer %>